@media(max-width: 700px){
    .lateral-frame{
        visibility: hidden;
    }
}

@font-face {
    font-family: Norse;
    src: url(./resources/Norse-Bold.woff);
}

:root{
--default-text-height: 0.7rem;
--default-margin-left: 2rem;
--default-margin: 1rem;
--default-border-radius: 0.5rem;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    background-color: rgb(39, 39, 39);
}

label{
    display: block;
    width: 200px;
    font-family: sans-serif;
    color: rgb(39, 39, 39);
    font-size: var(--default-text-height);
}

input{
    border: 1px solid #E5E7EB;
    border-radius: var(--default-border-radius);
    padding: var(--default-border-radius);
    margin-bottom: var(--default-margin);
}

input:focus{
    all: unset;
    border-radius: var(--default-border-radius);
    padding: var(--default-border-radius);
    box-shadow: 3px 3px 7px 2px rgba(0, 0, 0, 0.3);
    border: 1px solid blue;
}

input.error{
    border: 1px solid red;
}

    .container{
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 80%;
        
    }

        .main-frame{
            grid-column: 2/-1;
            
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            background-color: lightgray;

        }

            .main-frame section{
                margin-left: var(--default-margin-left);
                margin-bottom: var(--default-margin);
                margin-top: var(--default-margin);
            }

            .main-frame section button{
                all: unset;
                cursor: pointer;
                background-color: #596D48;
                color: white;
                border-radius: var(--default-border-radius);
                padding: var(--default-margin) calc(var(--default-margin)*3);
                margin-bottom: var(--default-margin);
                margin-top: var(--default-margin);

            }

            .main-frame section a{
                color: #596D48;
                text-decoration: none;
                
            }

            .container-form{
                grid-row: 2;
                background-color: white;
                box-shadow:  5px 5px 5px 2px rgba(0, 0, 0, 0.3);
            }

                .form-1{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(4,1fr);
                }

                .form-1 *{
                    
                }

                .form-1 h1{
                    margin-left: var(--default-margin-left);
                    font-size: 2rem;
                    grid-column: 1/2;
                    grid-row: 1/2;
                    align-self: center;
                }

                .form-1 div{
                    margin-left: var(--default-margin-left);
                    
                }

                .form-1 div p{
                    font-size: var(--default-text-height);
                    color: red;
                }

                .form-1 div:nth-of-type(1){
                    grid-column: 1/2;
                    grid-row: 2/3;
                }

                .form-1 div:nth-of-type(2){
                    grid-column: 2/3;
                    grid-row: 2/3;
                }

                .form-1 div:nth-of-type(3){
                    grid-column: 1/2;
                    grid-row: 3/4;
                }

                .form-1 div:nth-of-type(4){
                    grid-column: 2/3;
                    grid-row: 3/4;
                }

                .form-1 div:nth-of-type(5){
                    grid-column: 1/2;
                    grid-row: 4/-1;
                }

                .form-1 div:nth-of-type(6){
                    grid-column: 2/3;
                    grid-row: 4/-1;
                }

            .lateral-frame{
                grid-column: 1/2;
                display: grid;
                grid-template-rows: repeat(5,1fr);
                color: white;

                background-image: url(./resources/halie-west-25xggax4bSA-unsplash.jpg);
                background-size:cover;
                background-repeat: no-repeat;
            }

                .lateral-frame-image,
                .lateral-frame-banner,
                .lateral-frame-credits{
                    grid-column: 1;
                }

                .lateral-frame-image{
                    grid-row: 1/-1;
                    width: 100%;
                }

                .lateral-frame-banner{
                    grid-row: 2/3;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    background-color: rgba(128, 128, 128, 0.5);
                    color: white;
                    font-family: 'Norse',system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-size: 6vw;
                }

                .lateral-frame-banner img{
                    width: 20%;
                    
                }

                .lateral-frame-credits{
                    grid-row: 5/5;
                    place-self: end center;
                    font-size: 0.8vw;
                    margin-bottom: 0.8vw;
                }

                .lateral-frame-credits a{
                    color: white;
                }